.budget-bar {
    position: relative;
    margin-bottom: 25px;
}

.legend {
    position: absolute;
    width: 100%;
    left: 0;
    top: 35px;
}
.legend .value {

    position: absolute;
}
.legend .value.first {}
.legend .value.last {
    position: absolute;
    right: 0;
}
.legend .value.spent {
    left: 30%;
}
.legend .value.left {
    left: 60%;
}


.ideal-value {
    position: relative;
    top: -18px;
    border-right: 2px dotted rgba(7, 69, 173, 0.67);
    width: 1px;
}